@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

#menu {
  width: 30%;
  height: 85vh;
  float: left;
  position: fixed;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 9999;
  background-color: darkslategrey;
}

#menu.hide {
  transform: translate3d(-31vw, 0, 0);
}

#menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.sectionOne {
  position: absolute;
  top: 11%;
  width: 100%;
}

.logoWithName {
  text-align: center;
  margin: 0px 0px 47px 0px;
}

.logo {
  margin-bottom: 23px;
}

.logo img {
  width: 90px;
  border-radius: 50px;
}

.name {
  font-size: 31px;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #117a8b;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
}

#sidebar ul li {
  height: 55px;
  padding-top: 18px;
}

#sidebar ul a li {
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
}

.selected li {
  color: #fff;
  background: #0c93a9;
}

#sidebar ul li:hover {
  color: #fff;
  background: #0c93a9;
}

#sidebar ul a:hover {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1200px) {
  #menu.hide {
    transform: translate3d(0vw, 0, 0);
    width: 20%;
  }
}
