.home {
  position: absolute;
  top: 8%;
  height: 85vh;
  width: 100%;
  background-image: url("/assets/images/home.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sideToggleHam {
  position: relative;
  float: right;
}

.sideNav {
  position: relative;
  z-index: 9999;
}

.red {
  background-color: red;
  width: 300px;
  height: 40px;
}

.hamStyle {
  width: 30px;
  height: 30px;
  float: right;
  margin: 12px 12px 0 0;
  cursor: pointer;
}
