.deckSpace {
  margin-top: 15px;
  margin-bottom: 15px;
}

.row .takeFull {
  margin: 30px auto;
}

.para {
  background-color: rgb(169, 169, 169, 0.2);
  font-size: 19px;
}

.mainNameLogo {
  border-radius: 80px;
  background-color: beige;
  height: 142px;
  width: 299px;
  position: absolute;
  left: 5%;
}

.mainNameLogo img {
  left: 0px;
  position: absolute;
}

.mainNameLogo span {
  top: 40%;
  left: 25%;
  position: relative;
}

.mainAnimation {
  width: 310px;
  margin: 10px auto;
}

.hey {
  font-size: 50px;
  color: rgb(156 165 160);
  font-family: Jost, sans-serif;
  text-align: center;
  font-weight: bold;
}

.iName {
  color: rgb(101, 220, 152);
  text-align: center;
  font-size: 32px;
  font-family: "Baloo Tammudu 2";
  font-weight: bold;
}

.iWork {
  color: rgb(198 221 208);
  text-align: center;
  font-size: 22px;
  font-family: "Baloo Tammudu 2";
  font-weight: lighter;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 10% at 50% 50%,
    #1ecfdb,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 30px;
  color: #45cece;
  text-shadow: 0 0 0.6rem #90fbff, 0 0 1.5rem #70c0ce,
    -0.2rem 0.1rem 1rem #6db3bd, 0.2rem 0.1rem 1rem #65ffff,
    0 -0.5rem 2rem #24f0ff, 0 0.5rem 3rem #24fff4;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #e6feff;
    text-shadow: 0 0 0.6rem #e6feff, 0 0 1.5rem #65ffff,
      -0.2rem 0.1rem 1rem #65f5ff, 0.2rem 0.1rem 1rem #65ffff,
      0 -0.5rem 2rem #24fff4, 0 0.5rem 3rem #24f0ff;
  }
  28%,
  33% {
    color: #65fff7;
    text-shadow: none;
  }
  82%,
  97% {
    color: #24f8ff;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #186b6b;
    text-shadow: none;
  }
  100% {
    color: #e6feff;
    text-shadow: 0 0 0.6rem #e6f9ff, 0 0 1.5rem #65e8ff,
      -0.2rem 0.1rem 1rem #65f5ff, 0.2rem 0.1rem 1rem #65e0ff,
      0 -0.5rem 2rem #24f8ff, 0 0.5rem 3rem #24f8ff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
